extends layout.pug

block title
    title {{ title }} - Johnathan Irvin

block styles
    link(href="{{ url_for('static', filename='css/article.css') }}", rel="stylesheet")

block body
    h1.post-title.h1 {{title}}
    p.post-date {{date}}
    article {{content}}
