html 
    head
        block meta
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1")
            meta(name="description", content="Johnathan Irvin is a software engineer and researcher based in the Lehigh Valley, PA area.")
            meta(name="keywords", content="Vue,JavaScript,HTML,CSS,Python,VueJS,Bootstrap,C#,Engineer,Software,Coding,Development")
            meta(name="author", content="Johnathan Irvin")
            meta(name="generator", content="Pug")

        block title
            title Engineer, Researcher, Entrepreneur - Johnathan Irvin
    body
        block body
